.game, #playAgain {
  display: none;
}
body {
  text-align: center;
  background-color: rgb(1, 11, 13);
}
.main-header {
  margin-top: 2%; 
  width: 100%;
}
h1 {
  color:rgb(49, 224, 90);
  font-weight: bold;
  font-size: 50px;
}
h2 {
  color:rgb(101, 249, 56);
}
#turn1 {
  margin-left: 20%;
  background: rgb(25, 40, 90);
  color:rgb(203, 25, 49); 
  border: solid rgb(203, 25, 49) 10px;
  width: 80%;
  padding: 15px;
  font-weight: bold;
}
#turn2 {
  background: rgb(203, 25, 49);
  color:rgb(25, 40, 90);
  width: 80%;
  border: solid rgb(25, 40, 90) 10px;
  padding: 15px;
  font-weight: bold;
}
h3 {
  color:rgb(183, 230, 174);
  font-weight: bold; 
  text-align: center;
}
#player1DiceRoll, #player2DiceRoll {
  color:rgb(15, 1, 1);
  border: solid rgb(2, 1, 17) 5px;
  font-size: 25px;
  width: 30%;
  background: rgb(246, 243, 68);
}
#player1Hold, #player2Hold {
  color:rgb(15, 1, 1);
  border: solid rgb(2, 1, 17) 5px; 
  font-size: 25px;
  margin-left: 10%;
  width: 30%;
  background: rgb(230, 151, 82);
}
img {
  margin-top: 1%;
}
#result1, #result2 {
  font-size: 45px;
  font-weight: bold;
}
#startGame {
  margin-top: 2%;
  color:rgb(211, 77, 119); 
  font-size: 45px;
  background: rgb(246, 243, 68);
  font-weight: bold;
  border: solid rgb(237, 121, 175) 11px;
  width: 30%;
}
#playAgain {
  background: black;
  margin-top: 20%;
  color:white;
  width: 70%;
  font-weight: bold;
  border: solid white 5px;
  font-weight: bold;
  font-size: 25px;
}
.movingDie {
  margin-top: 10%;
}
