body {
  text-align: center;
  background: rgb(207, 242, 231);
}
h1 {
  margin-top: 2%;
  color:rgb(5, 53, 16);
  font-weight: bold;
  font-size: 45px;
}
h2 {
  color:rgb(4, 92, 25);
}
#turn1 {
  margin-left: 25%;
  margin-top: 2%;
  color:rgb(51, 42, 232); 
  border: solid rgb(238, 20, 38) 15px;
  width: 60%;
  padding: 15px; 
}
#turn2 {
  margin-top: 2%;
  margin-left: 20%;
  color:rgb(230, 20, 20);
  width: 60%;
  border: solid rgb(51, 42, 232) 15px;
  padding: 15px; 
}
h3 {
  color:rgb(29, 121, 12);
  font-weight: bold; 
  text-align: left;
}
#player1DiceRoll, #player2DiceRoll {
  color:rgb(15, 1, 1); 
  font-size: 25px;
  background: rgb(246, 243, 68);
}
#player1Hold, #player2Hold {
  color:rgb(15, 1, 1); 
  font-size: 25px;
  margin-left: 10%;
  background: rgb(230, 151, 82);
}
img {
  margin-top: 5%;
}
#result1, #result2 {
  font-size: 45px;
  font-weight: bold;
}
