.game, #playAgain{
  display: none;
}

body {
  text-align: center;
  background: rgb(207, 242, 231);
}
h1 {
  margin-top: 2%;
  color:rgb(5, 53, 16);
  font-weight: bold;
  font-size: 45px;
}
h2 {
  color:rgb(4, 92, 25);
}
#turn1 {
  margin-left: 25%;
  background: rgb(25, 40, 90);
  color:rgb(161, 27, 27); 
  border: solid rgb(203, 25, 49) 10px;
  width: 60%;
  padding: 15px;
  font-weight: bold
}
#turn2 {
  background: rgb(203, 25, 49);
  margin-left: 20%;
  color:rgb(25, 40, 90);
  width: 60%;
  border: solid rgb(25, 40, 90) 10px;
  padding: 15px;
  font-weight: bold
}
h3 {
  color:rgb(183, 230, 174);
  font-weight: bold; 
  text-align: left;
}
#player1DiceRoll, #player2DiceRoll {
  color:rgb(15, 1, 1);
  border: solid rgb(2, 1, 17) 5px;
  font-size: 25px;
  width: 30%;
  background: rgb(246, 243, 68);
  
}
#player1Hold, #player2Hold {
  color:rgb(15, 1, 1);
  border: solid rgb(2, 1, 17) 5px; 
  font-size: 25px;
  margin-left: 10%;
  width: 30%;
  background: rgb(230, 151, 82);
}
img {
  margin-top: 5%;
}
#result1, #result2 {
  font-size: 45px;
  font-size: 25px;
  font-weight: bold;
}

#startGame, #playAgain {
  margin-top: 2%;
  color:rgb(42, 23, 147); 
  font-size: 35px;
  background: rgb(246, 243, 68);
  font-weight: bold;
  border: solid rgb(4, 72, 41) 11px;
  width: 30%;
  
}